{% extends 'base.html' %}
{% block content %}
<header class="masthead">
<div class="container">
    <div class="row">
        <div class="col-md-6 align-items-center">
        <h2 class="display-1" style="font-family: Helvetica">GT Movies</h2>
        <p class="lead" style="font-family: Helvetica">Where every movie night begins!</p>
    </div>
      <div class="col-md-6">
          <img src="/static/img/homepageMovie.jpg" class="img-fluid">
      </div>
    </div>
</div>
</header>
<div class="homepage-bottom" style="align-content: center; color: white;">
    <p class="text-center">The best place to rent the most popular movies!</p>
</div>
{% endblock content %}
