{% extends 'base.html' %}
{% block content %}
<header class="masthead text-black">
  <div class="container position-relative pt-2" style="top: 30px; left: 550px;">
      <img src="/static/img/homepageMovie.jpg" class="homepageImg" style="width: 600px; height: 700;">
  </div>
    <div class="container position-relative" style="top: -225px; left: 85px; color: white;">
        <h2 class="display-1" style="font-family: Helvetica">GT Movies</h2>
        <p class="lead" style="font-family: Helvetica">Where every movie night begins!</p>
    </div>
      <div class="col-md-6">
          <img src="/static/img/homepageMovie.jpg" class="img-fluid">
      </div>
    </div>
</div>
    <div class="homepage-bottom" style="align-content: center; color: white;">
        <p class="text-center" style="font-family: Monospace; margin-top: -30px;">The best place to rent the most popular movies!</p>
    </div>
{% endblock content %}
a